<main class="about">
  <section class="about_intro">
    <div class="c-vw cnt">
      <div class="Atext">
        <div class="iO iO-std"></div>
        <p class="Atext_el">
          Art Director &amp; Interactive Designer<br>based in Los Angeles.
        </p>
      </div>
      <div class="Atitle">
        <div class="cCover"></div>
        <div class="Oi Oi-tt" data-temp="about" data-l="-.01" data-m=".8"></div>
        <h2 class="tt1 Oiel">
          Enthusiastic about graphic design, typography, and the dynamic areas of motion and web-based animations.</br>Specialized in translating brands into unique and immersive digital </br>user experiences.
        </h2>
      </div>
    </div>
  </section>

  <section class="about_list">
    <div class="c-vw cnt">
      <div class="cnt_cl">
        <div class="cnt_el sm1">
          <div class="cnt_el_t tt3">
            <div class="iO"></div>
            <div class="n">001</div>
            <h3>Experience</h3>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Freelance_2024/Today
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Art Director & Designer
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Remote
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>AKQA_2023/2024
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Google
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Razorfish_2023
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Samsung
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Mother_2023
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Sonic
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Formerly Known As_2022/2023
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Audible
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Barbarian_2022
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Product Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Samsung
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Elephant_2022
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Apple
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>The Marketing Store_2020/2022
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Designer
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Cboe, T-Mobile, BP
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>FCB_2021/2022
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>AbbVie, AB InBev
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Allstate_2019/2020
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
          </div>
        </div>
      </div>

      <div class="cnt_cl">
        <div class="cnt_el sm1">
          <div class="cnt_el_t tt3">
            <div class="iO"></div>
            <div class="n">002</div>
            <h3>Experience (cont.)</h3>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>RGA_2019
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Designer
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Harley-Davidson
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>VSA Partners_2018/2019
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Designer
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Cargill, Google, Hyatt, Naked Juice
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Razorfish Health_2018/2019
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>AbbVie, Abbott
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>SapientRazorfish_2018
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Purell
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Havas_2018
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Designer
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Adidas, Citibank
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Wunderman_2017/2018
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Microsoft, Chevron
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Critical Mass_2016
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Exxonmobil
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>FCB_2016
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Senior Art Director
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Janssen
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>SteelSeries_2016
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Packaging Designer
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Leo Burnett_2015
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Designer
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>Fifth Third Bank
            </span>
          </div>
        </div>
      </div>

      <div class="cnt_cl">
        <div class="cnt_el sm1">
          <div class="cnt_el_t tt3">
            <div class="iO"></div>
            <div class="n">003</div>
            <h3>Education</h3>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>School of the Art Institute of Chicago
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Visual Communication
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>2012/2014
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>University of Texas at Arlington
            </span>
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>B.S. Architecture
            </span>
            <span class="Awrite lig" href="#">
              <div class="iO iO-std"></div>2003/2006
            </span>
          </div>
        </div>
      </div>

      <div class="cnt_cl cnt_cl-sm">
        <div class="cnt_el sm">
          <div class="cnt_el_t tt3">
            <div class="iO"></div>
            <div class="n">004</div>
            <h3>Software Skills</h3>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Figma
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Photoshop
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Illustrator
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>InDesign
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>After Effects
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Sketch
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>XD
            </span>
          </div>
        </div>

        <div class="cnt_el sm">
          <div class="cnt_el_t tt3">
            <div class="iO"></div>
            <div class="n">005</div>
            <h3>Technical Skills</h3>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Javascript
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>React
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Next.js
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>GSAP
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>WebGL
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>HTML
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>CSS
            </span>
          </div>
        </div>

        <div class="cnt_el sm">
          <div class="cnt_el_t tt3">
            <div class="iO"></div>
            <div class="n">006</div>
            <h3>Selected Clients</h3>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Google
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Samsung
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Microsoft
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Naked Juice
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Harley-Davidson
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>T-Mobile
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Ab InBev
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Audible
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>Allstate
            </span>
          </div>

          <div class="cnt_el_b">
            <span class="Awrite" href="#">
              <div class="iO iO-std"></div>BP
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer_cm">
      <a
        class="Atitle MW"
        href="mailto:chris@chrishall.io"
        aria-label="Send me an email"
        data-tt="let's talk"
        data-w="1"
      >
        <div class="cCover"></div>
        <div
          class="Oi Oi-tt"
          data-temp="foot"
          data-foot="1"
          data-white="1"
          data-length="3"
          data-w="6"
          data-l="-0.022"
          data-m="5.4"
          data-text="Get in touch"
        ></div>
        <h2 class="ttj Oiel">Get in touch</h2>
      </a>
    </div>

    <div class="c-vw cnt">
      <div class="cnt_lk">
        <div class="cnt_lk_el">
          <a class="Awrite" href="https://www.linkedin.com/in/chrisryanhall/">
            <div class="iO iO-std"></div>linkedin
            <i>
              <svg viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.49194 3.516H5.67594L5.67594 2.052L5.74794 1.272L5.71194 1.26L4.94394 2.124L0.911938 6.156L0.335937 5.58L4.36794 1.548L5.23194 0.78L5.21994 0.743999L4.43994 0.816L2.97594 0.816V0L6.49194 0L6.49194 3.516Z" fill="black"/>
              </svg>
            </i>
          </a>
        </div>

        <div class="cnt_lk_el">
          <a class="Awrite" href="https://drive.google.com/file/d/1wc46fxHbb2AgoNOu4dyDVxxVjjE_XZ1z/">
            <div class="iO iO-std"></div>Resume
            <i>
              <svg viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.49194 3.516H5.67594L5.67594 2.052L5.74794 1.272L5.71194 1.26L4.94394 2.124L0.911938 6.156L0.335937 5.58L4.36794 1.548L5.23194 0.78L5.21994 0.743999L4.43994 0.816L2.97594 0.816V0L6.49194 0L6.49194 3.516Z" fill="black"/>
              </svg>
            </i>
          </a>
        </div>

        <div class="cnt_lk_el">
          <a class="Awrite" href="https://www.instagram.com/getcolor_/">
            <div class="iO iO-std"></div>Instagram
            <i>
              <svg viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.49194 3.516H5.67594L5.67594 2.052L5.74794 1.272L5.71194 1.26L4.94394 2.124L0.911938 6.156L0.335937 5.58L4.36794 1.548L5.23194 0.78L5.21994 0.743999L4.43994 0.816L2.97594 0.816V0L6.49194 0L6.49194 3.516Z" fill="black"/>
              </svg>
            </i>
          </a>
        </div>

        <div class="cnt_lk_el">
          <a class="Awrite" href="https://dribbble.com/hallchris/">
            <div class="iO iO-std"></div>dribbble
            <i>
              <svg viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.49194 3.516H5.67594L5.67594 2.052L5.74794 1.272L5.71194 1.26L4.94394 2.124L0.911938 6.156L0.335937 5.58L4.36794 1.548L5.23194 0.78L5.21994 0.743999L4.43994 0.816L2.97594 0.816V0L6.49194 0L6.49194 3.516Z" fill="black"/>
              </svg>
            </i>
          </a>
        </div>
      </div>

      <div class="cnt_cr">
        <div class="cnt_cr_el">
          <div class="Awrite">
            <div class="iO iO-std"></div>Designed by_
          </div>
          <div class="Awrite" data-bucle="1">
            <div class="iO iO-std"></div>CHRIS HALL
          </div>
        </div>
      </div>

      <div class="cnt_cp">
        <div class="Awrite">
          <div class="iO iO-std"></div>©2025_all rights reserved
        </div>
      </div>
    </div>
  </footer>
</main>