<main class="project">
  <div class="backto c-vw">
    <a class="Awrite" data-params="1" data-clean="0" href="/index/" data-type="projects" aria-label="See all projects">
      <div class="iO iO-std"></div>
      Back to index
    </a>
  </div>

  <section class="project_intro">
    <div class="iO iO-outin"></div>
    <div class="c-vw cnt">
      <div class="cnt_n"><span class="n tt3">004</span></div>
      <div class="cnt_mn">
        <div class="cnt_t"><h2 class="tt3">Collective</h2></div>
        <div class="cnt_x">
          <div class="Aline">
            <p>Collective is a platform for a new kind of workforce: an unrestrained network of technologically savvy, multifaceted individuals.</p>
            <p>The identity answers a core question: how do you represent a 'collective' while celebrating the individual? The logo implies movement and evolution, visualizes this active, modern network. The clean, tech-forward aesthetic and simple language lean into the platform's core promise: providing a frictionless, "easy-to-understand process" that empowers individuals to monetize their skills, independently.</p>
            <div class="iO iO-std"></div>
          </div>

          <div class="cnt_cr">
            <div class="cnt_cr_el">
              <div class="Awrite">
                <div class="iO iO-std">
                </div>Client_
              </div>
              <div class="Awrite">
                <div class="iO iO-std">
                </div>Allstate
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="project_els">
    <div class="c-vw cnt">
      <div class="cnt_els">
        <div class="cnt_el" style="aspect-ratio:1600/1200">
          <img data-lazy="/media/col-07_1600x1200.webp" style="aspect-ratio:1600/1200" width="1366" height="1025" />
          <div class="iO iO-lazyI"></div>
        </div>
        <div class="cnt_el" style="aspect-ratio:1600/1200">
          <img data-lazy="/media/col-03_1600x1200.webp" style="aspect-ratio:1600/1200" width="1366" height="1025" />
          <div class="iO iO-lazyI"></div>
        </div>
        <div class="cnt_el" style="aspect-ratio:1600/1200">
          <img data-lazy="/media/col-05_1600x1200.webp" style="aspect-ratio:1600/1200" width="1366" height="1025" />
          <div class="iO iO-lazyI"></div>
        </div>
        <div class="cnt_el" style="aspect-ratio:1600/1200">
          <img data-lazy="/media/col-09_1600x1200.webp" style="aspect-ratio:1600/1200" width="1366" height="1025" />
          <div class="iO iO-lazyI"></div>
        </div>
        <div class="cnt_el" style="aspect-ratio:1600/1200">
          <img data-lazy="/media/col-08_1600x1200.webp" style="aspect-ratio:1600/1200" width="1366" height="1025" />
          <div class="iO iO-lazyI"></div>
        </div>
        <div class="cnt_el" style="aspect-ratio:1600/1200">
          <img data-lazy="/media/col-01_1440x1080.webp" style="aspect-ratio:1600/1200" width="1366" height="1025" />
          <div class="iO iO-lazyI"></div>
        </div>
        <div class="cnt_el" style="aspect-ratio:1600/1200">
          <img data-lazy="/media/col-02_1600x1200.webp" style="aspect-ratio:1600/1200" width="1366" height="1025" />
          <div class="iO iO-lazyI"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="project_nxt">
    <div class="iO iO-nxt" data-url="/project/bp/"></div>

    <div class="c-vw top">
      <div class="top_sc">
        <h4 class="Awrite" data-bucle="1">
          <div class="iO iO-std"></div>
          [scroll to explore]
        </h4>
      </div>
    </div>

    <div class="c-vw cnt">
      <div class="cnt_n"><span class="n tt3">005</span></div>
      <div class="cnt_mn">
        <div class="cnt_t"><h2 class="tt3">BP</h2></div>
      </div>
    </div>
  </section>
</main>